* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    position: sticky;
    top: 0;
    color: #6e6969;
    background-color: white;
    z-index: 3;
    border-bottom: 1px solid rgba(228, 226, 226, .3);
}
header .left ul {display: none;}

header .right {
    display: flex;
    align-items: center;
    gap: 0 2rem;
}
.right-ul-active {
    display: block;
}
header .right ul { 
    display: none;
    position: absolute;
    top: 5.5rem; 
    right: 0;
    list-style: none;
    background-color: gray;
}

header .right li {
    padding: 2rem;
}
header .right li a {
    position: relative;
    text-decoration: none;
    padding-bottom: 1rem;
    color: white;
    border-bottom: 2px solid white;
}
.counts {
    position: relative;
    text-decoration: none;
}
.counts span {
    font-size: .7rem;
    position: absolute;
    top: -1rem;
    right: -.5rem;
}

/*  banner */
main {
    padding-top: 1rem;
    color:#4f4e4e;
}
main h1 { 
    font-weight: bold; 
}
main .banner {
    padding: 1.5rem 1rem;
    position: relative;
}
main .banner .you {
    position: absolute;
    font-family: Lucida Handwriting;
    top: 1.5rem;
    font-size: 2rem;
    right: 1rem;
    text-shadow: 2px 2px gray;
    transform: rotate(-50deg);
    color: rgb(224, 148, 5);
    z-index: -1;
}
main .banner p {
    line-height: 1.7rem;
    padding: 1.5rem 0;
}
main .link {
    margin:1.5rem 0;
}
main .link  #below-menu-btn{
    background-color: rgb(224, 148, 5); 
    padding: 1rem 1.3rem;
    text-decoration: none;
    color: rgb(31, 30, 30);
    border: 1px solid rgb(224, 148, 5);
    border-radius: 5px;
    color: white;
}
main .link  #below-menu-btn::before {
    content: url("./images1/product.svg");
    position: relative;
    top: 5px;
    left: -5px;
}
main .link #below-aboutus-btn{
    color: rgb(224, 148, 5); 
    padding: 1rem 1.3rem;
    text-decoration: none;
    border: 1px solid rgba(61, 60, 60, .7);
    border-radius: 5px;
}
main .link #below-aboutus-btn::before {
    content: url("./images/contact.svg");
    position: relative;
    top: 5px;
    left: -5px;
}
main .banner-img img {
    display: none;
} 

.dishes {
    display: flex;
    gap: .5rem;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 1.1rem;
}
.dishes button{
    /* display: flex; */
    /* flex-direction: row; */
    padding: .7rem;
    border-radius: 5px;
    color: #6e6969;
    border: none;
    background-color:#fcfcfc;
    box-shadow: 2px 2px 2px gray;
}
section {
    padding: 2rem 0;
}
.product-container {
    display: grid; 
    grid-template-columns:1fr 1fr 1fr;
    padding: 0 .5rem;
}
.product {
    /* border: 1px solid gray; */
    display: flex;
    flex-direction: column; 
    margin: 5px 3px;
    align-items: center;
    /* overflow: hidden; */
    border-radius: 5px;
    background-color:#fcfcfc;
    padding: .5rem;
    position: relative;
    box-shadow: 3px 1px 5px 1px rgba(128, 128, 128, 0.1);
    /* width: 100%; */
}
.product-card-bg {
}
.product-card img {
    height: 50%;
    width: 100%;
}
.product-card {
    background-color: rgba(0, 0, 0, 0.5);
    position:fixed;
    top: 0;
    z-index: 5;
    height: 100vh;
    width: 100%;
}
.card {
    background-color: whitesmoke;
    box-shadow: 1px 1px 10px 1px orange;
    border-radius: 10px;
    height: 80%;
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    /* display: flex; */
    position: relative;
}
.closed-card {
    position: absolute;
    top:0;
    border-radius: 0 5px 0 0;
    right: 0;
    border: 1px solid gray;
    padding: .5rem 1rem;
}
.product-card .card-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem 0;
}
.product-card .card-description div {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    width: 50%;
    background-color: gray;
    padding: .3rem .5rem;
}








.product img {
    /* padding-top: .5rem; */
    object-fit: contain;
    width: 70px;
    height: 50px;
}
.product-container .product:hover {
    transform: scale(1.05);
    transition: .5s ;
}
.product .description {
    /* padding: .2rem 0; */
    /* display: flex;
    flex-direction: column; */
}
.product .description .desc-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem 0;
    margin-bottom: .5rem;
}
.product button , .card button {
    font-size: .6rem;
    font-weight: bold;
    background-color: orange;
    border-radius: 5px;
    padding:.3rem;
    border: none;
    color: #3d3d3b;
    box-shadow: 3px 3px 3px rgba(157, 156, 156, 0.793);
    /* width: 110px; */
    margin: 0 auto;
}
.product p { font-size: .7rem;}

/* article */
article {
    /* padding: 2rem 1rem;
    background-image: url("./images/logo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    position: relative;
    margin-top: 2rem;
}
article .promos {
    background-color: rgba(231, 230, 223, .2);
    display: flex;
    border-radius: 5px;
    align-items: center;
    padding: 15px 10px;
    margin: 15px auto;
    width: 90%;
    color: #6e6969;
}
article .promos img {
    width: 100px;
    height: 100px;
    margin: 0rem ;
}
.promos span { border-bottom: 1px solid rgb(43, 42, 42); padding-bottom: 7px;}
article .promos div {width: 150px ;}
article .promos p { 
    padding: .7rem 0;
}
article .promos a {
    text-decoration: none;
    padding:.5rem;
    font-size: .8rem;
    font-weight: bold;
    border-radius: 3px;
    background-color:rgb(224, 148, 5);
    color: #333333;
}
/* hr {
    height: 3px;
    margin: 1rem 4rem;
    background-color:rgb(224, 148, 5);
} */

.form {
    color: #6e6969;
    width: 86%;
    margin: 0 auto;
}
.form label { line-height: 3rem; }

input, textarea {
    width:100%;
    color: #6e6969;
    border-radius: 5px;
    border: none;
    background-color:#e6e6e6;
    padding: .5rem;
}

.btn-grad {background-image: linear-gradient(to right, #e6e6e6 0%, #e6e6e6  20%, gray 100%);
        margin-top: 1.5rem;
}
.btn-grad {
    transition: 0.5s;
    background-size: 200% auto;
    color: #616263;            
    box-shadow: 0 0 20px #eee;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    color: white; /* change the direction of the change here */
}


/* footer */
footer {
    height: 60vh;
    color: white; 
    position: relative;
    background-color: #2A2438;
    padding: 2rem; 
}
footer  a { 
    font-size: .8rem;
    text-decoration: none;
    color: white;
    font-weight: 600;
}
footer  a:hover { color: gray; }
footer p {
    color: #b3b1b1;
    font-size: .9rem;
}

footer .soc-media {
    margin: 1rem 0;
    display:flex;
    width: 20px;
    height: 20px;
}
footer .fb-icon { margin:0 1rem; }
footer .copyright {
    font-size: .8rem;
    color: white;
}
footer .direction:after {
    content: url("./images/next.svg");
    position: relative;
    top: 7px;
    left: 0;
}


@media only screen and (min-width: 600px){
    /* header start */
    header {
        padding: 2rem 6rem;
    }
    header .left {
        display: flex;
        align-items: center;
    }
    header .left ul {
        display: flex;
        margin: 0 3rem;
        list-style: none;
    }
    header .left li {
        margin: 0 2rem;
    }
    header .left a {
        text-decoration: none;
        color: rgb(95, 93, 93);
    }
    header .left a:hover {
        color: rgb(37, 36, 36);
        padding-bottom: 2rem;
        border-bottom: 2px solid orange;
    }
    
    
    header .right {
        display: flex;
        align-items: center;
    }
    header .right #icon-menu {
        display: none;
    }
    header .right ul { 
        display: none;
    }
    /* header .right li {
        padding:2rem;
    } */
    header .right a {
        text-decoration: none;
        color:white;
        padding-bottom: 1rem;
        border-bottom: 1px solid #000;
    }
    
    /* header end */

    /* banner start */
    main {
        display: flex;
        padding: 3rem 5rem;
        align-items: center;
    }
    main .banner {
    }
    main .banner-img img {
        display: block;
        width: 550px;
        height: 300px;
        border-radius: 5px;
    }
    main h1 {
        font-size: 55px;
    }
    main .link {margin-top: 2rem; }
    main .link  #below-menu-btn{
        border-radius: 5px;
        /* background-color: rgb(224, 148, 5); 
        padding: 1rem 1.3rem;
        text-decoration: none;
        color: rgb(61, 60, 60); */
        /* border: 1px solid rgb(224, 148, 5); */
    }
    main .link #below-aboutus-btn{
        border-radius: 5px;
        /* padding: 1rem 1.3rem; */
        /* text-decoration: none; */
        /* border: 1px solid rgba(61, 60, 60, .7); */
    }
    /* banner end */
    .product-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 3.8rem;
    }
    .product { 
        width: 22%;
        margin: 1rem .7rem;
    }
    .dishes {
        padding: 0 6rem;
    }
    .dishes button { width: 90px; }
    .product-container img {
        margin-left: 1rem;
        width: 90%;
        height: 270px;
    }
    .product .description {
        /* display: flex; */
        align-items: center;
        padding-left: .5rem;
        /* background-color:rgba(187, 184, 187, 0.2); */
    }
    .product p { font-size: 1rem;}
    .product button {
        padding: .9rem .3rem;
        cursor: pointer;
        width: 180px;
        color: ;
    }
    .product button:hover {
        transform: scale(1.02);
        color: white;
    }
    article {
        margin-top: 5rem;
        display: flex;
    }
    article .promos {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px 10px;
        margin: 4rem 2rem;
        width: 40%;
        margin: 4rem auto;
    }
    article .promos img {
        width: 50%;
        height: 150px;
        padding-right: 2rem;
    }
    article .promos div {width: 50%; padding-left: 2rem;}
    article .promos p { 
        padding: 2rem 0;
    }
    hr {
        height: 5px;
        width: 40%;
        border: dotted;
        color: white;
        margin: 4rem auto;
        background-color:rgb(224, 148, 5);
    }
    .form {width: 50%;}
}
